@import "../../partials/mixins.scss";

* {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: $yellow;
  height: 5rem;
  position: static;
  bottom: 0;
  width: 100vw;
  &__list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    height: 5rem;
    text-decoration: none;
  }
}

.link {
  text-decoration: none;
  font-size: xx-large;
  font-family: cursive;
  color: $burnt;
}
